ul.examples {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  color: rgba(255,255,255, 0.6);
  font-size: 0.8em;
  white-space: nowrap;
  text-align: center;
  margin-left: -110px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

ul.examples li {
  display: inline-block;
  width: 200px;
  white-space: normal;
  vertical-align: top;
}

ul.examples img {
  display: block;
  margin: 0 auto;
  width: 322.5px;
}

ul.examples p {
  margin: 0.5em 0;
  text-align: right;
  width: 75%;
  float: right;
}